/* ========================================================================== */
/* advertising.css */
/* ========================================================================== */

#advertising {}


#hero_advertising {
    margin-top: var(--header-height);

}

.hero_advertising_text_wrap {}
.hero_advertising_title {}


.hero_advertising_text_wrap  {
    width: 100%;
    /* min-height: 60vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_advertising_text_wrap h1 {
    max-width: 90%;
    text-align: center;
}
.hero_advertising_text_wrap p {
    max-width: 70%;
    text-align: center;
}

@media screen and (max-width: 48em) {
    .hero_advertising_text_wrap h1, .hero_advertising_text_wrap p {
        max-width: 90vw;
        text-align: left;
    }
}


.content_img_grid_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1% 1%;
}
.content_img_wrap {
    min-width: unset;
    margin-bottom: 1%;
}
.content_img_wrap {
    width: calc(100% / 3 - 2%);
}
.content_img_wrap:nth-of-type(2),
.content_img_wrap:nth-of-type(3),
.content_img_wrap:nth-of-type(6) {
    width: calc(100% * (2 / 3) - 2%);
}

@media screen and (max-width: 36em) {
    .content_img_wrap {
        width: 100%;
    }
}
.content_img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.content_img_wrap:nth-of-type(2) .content_img,
.content_img_wrap:nth-of-type(3) .content_img,
.content_img_wrap:nth-of-type(6) .content_img {
    width: 100%;
    aspect-ratio: 2 / 0.965;
}

/* ======================================= */

/* 2col - wider image */

#adv_two_col_wide {
    margin: auto;
    max-width: 100%;
    width: 100%;
    margin-bottom: 7.5%;
}


.two_col_wide {}


.two_col_wide {
    flex-direction: column;
}
.col_wrap {
    flex-direction: row;
}

.two_col_wide .col_wrap.reverse {
    flex-direction: row-reverse;
}
@media screen and (max-width: 48em) {
    .col_wrap.reverse {
        flex-direction: column;
    }
}    

.two_col_wide .col_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}


@media screen and (max-width: 48em) {
    .two_col_wide .col_wrap {
        flex-direction: column;
    }
}

.two_col_wide .col_feature {
    position: relative;
    width: 100%;
}
@media screen and (max-width: 48em) {
    .two_col_wide .col_feature {
        margin-bottom: 7.5%;
    }
}

.two_col_wide .col_feature {
    width: 50%;
}


@media screen and (max-width: 48em) {
    .two_col_wide .col_feature {
        width: 100%;
    }
}

.two_col_wide .col_feature_wrap {
    position: relative;
}

.two_col_wide .col_wrap .col_feature_img_wrap{
    width: 100%;
    /* aspect-ratio: 1 / 1; */
}


.two_col_wide img.feature_img {
    width: 100%;
    object-fit: cover;
    margin-left: -5%;
}

@media screen and (max-width: 48em) {
    .two_col_wide img.feature_img {
        width: 90%;
        object-fit: cover;
        margin-right: 5%;
        margin-left: 5%;
    }
}

.two_col_wide [class*="_text_wrap"] {
    align-items: flex-start;
    width: 60%;
}

@media screen and (max-width: 48em) {
    .two_col_wide [class*="_text_wrap"] {
        width: 100%;
        max-width: 90vw;
        margin: auto;
    }
}

/* ------------------------------------ */