/*  =======================================
    BUTTON COLOURS
    =================================== */

:root {
    /* buttons */
    --pink:#E78C9B;
    --green: #00C4C2;
    --lime: #AFD3AB;
    --blue: #189ADB;
    /*  */
    --pink-hv:#A4646C;
    --green-hv: #008380;
    --lime-hv: #697B66;
    --blue-hv: #147EB3;
}

.pink-txt { color:var(--pink); }
.green-txt { color:var(--green); }
.lime-txt { color:var(--lime); }
.blue-txt { color:var(--blue); } 
.black-txt { color:var(--black); } 

.pink-txt:hover,
.green-txt:hover,
.lime-txt:hover,
.blue-txt:hover,
.black-txt:hover { color:white; }

.pink-OL-txt:hover { color:var(--pink-hv); }
.green-OL-txt:hover { color:var(--green-hv); }
.lime-OL-txt:hover { color:var(--lime-hv); } 
.blue-OL-txt:hover { color:var(--blue-hv); } 


/*  =======================================
    BUTTONS
    =================================== */

    .btn, button, .video-btn {   
        position: relative;
        z-index: 1;
        margin-left: 0;
        margin-right: 6px;
        margin-top: 6px;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 8px 28px;
        border-radius: 20px;
        background: #fff;
        /* color: #111; */
        border: none;
        /* font-family: var(--font-family); */
        font-weight: 500;
        font-size: 16px;
        /* line-height: 1.5; */
        line-height: 1.8;
        height: 40px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        text-decoration: none;
        background: 0 0;
        cursor: pointer;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .video-btn {
        padding-right: 3rem;
    }
    .video-btn::after {
        content: '';
        position: absolute;
        width:13px;
        height: 14px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        /* background-image: url('../img/dinkus/play_arrow.svg'); */
        background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2013.81883%2015.27917%22%3E%3Cpolygon%20points%3D%220.5%2014.431%200.5%200.848%2012.785%207.639%200.5%2014.431%22%20fill%3D%22none%22%20stroke%3D%22%232b2e34%22%2F%3E%3C%2Fsvg%3E);
        background-repeat: no-repeat;
        /* padding-left: 2rem; */
        margin-right: 1rem;
    }
    .video-btn:hover::after {
        background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2013.81883%2015.27917%22%3E%3Cpolygon%20points%3D%220.5%2014.431%200.5%200.848%2012.785%207.639%200.5%2014.431%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
    }

    .btn-white {
        background: #fff;
        /* color: #111; */
    }
    .btn-white:hover {
        background: var(--white-hover);
    }
    .btn-black {
        background: var(--main-black);
        color: #fff;
    }
    .btn-black:hover {
        background: var(--black-hover);
        color: #fff;
    }
    .btn-outline {
        background: #fff;
        color: var(--main-black);
        border: 1px solid var(--main-black);
        padding: 7px 28px;
    }
    .btn-outline:hover {
        background: var(--main-black);
        color: #fff;
    }
    .btn-outline-white {
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        padding: 7px 28px;
    }
    .btn-outline-white:hover {
        background: var(--white-OL-hover);
        /* color: var(--main-black); */
    }

    @media screen and (max-width: 30em) {
        .btn, button {   
            /* width: 100%;
            max-width: 320px; */
        }
    }
