/* ==========================================================================
   colours
   ========================================================================== */


:root {
    --main-color:#6ac6b7;
    /*  */
    --white: #ffffff;
    --not-white: #fafafa;
    --black: #000000;
    --text-col:#111111;
    --black-hover: rgba(0,0,0,0.75);
    --white-hover: rgba(255,255,255,.2);
    --white-OL-hover: rgba(255,255,255,.5);

    /*  */
    --main-black: #2B2E34;
    --main-color-50:rgba(106,198,183,0.5);
    --main-color-30:rgba(106,198,183,0.3);
    /* buttons */
    --pink:#E78C9B;
    --green: #00C4C2;
    --lime: #AFD3AB;
    --blue: #189ADB;
    /*  */
    --pink-hv:#A4646C;
    --green-hv: #008380;
    --lime-hv: #697B66;
    --blue-hv: #147EB3;
}

.pink-txt { color:var(--pink); }
.green-txt { color:var(--green); }
.lime-txt { color:var(--lime); }
.blue-txt { color:var(--blue); } 

.pink-txt:hover,
.green-txt:hover,
.lime-txt:hover,
.blue-txt:hover { color:white; }

.pink-OL-txt:hover { color:var(--pink-hv); }
.green-OL-txt:hover { color:var(--green-hv); }
.lime-OL-txt:hover { color:var(--lime-hv); } 
.blue-OL-txt:hover { color:var(--blue-hv); } 

/* 
.pink-txt:hover { color:var(--pink-hv); }
.green-txt:hover { color:var(--green-hv); }
.lime-txt:hover { color:var(--lime-hv); } 
*/


/*--teal:#6ac6b7;*/
.true_teal {color:#6ac6b7}
.true_teal_rgba {color:rgba(106,198,183,1.0);}
.true_petrol_blue {color:#046071}
.true_petrol_blue_rgba {color:rgba(4,96,113,1.0);}
.true_red {color:#ff4337}
.true_red_rgba {color:rgba(255,67,55,1.0);}
.true_yellow {color:#febc20}
.true_yellow_rgba {color:rgba(254,188,32,1.0);}
.true_dark_teal {color:#025a6a}
.true_dark_teal_rgba {color:rgba(2,90,106,1.0);}
