
/* ==========================================================================
   TRU custom styles
   ========================================================================== */

    @import "colours.css";
    @import "typography.css";
    @import "buttons.css";
    @import "navigation.css";
    @import "footer.css";
    @import "form.css";


    :root {
        --wrapper-height: 85vh;
        --max-wrapper-width: 90em;
        --image-max-width: 320px;
        --header-height: 124px;
        --neg-header-height: -124px;
        /* --absolute-width: calc(.333 * (100vw - 12em)); */
        /*  */
    }
  
/* Basic page style resets */

    * {
        box-sizing: border-box;
    }

    [hidden] {
        display: none !important;
    }
    
    html {
        font-size: 16px;
        line-height: 1.5;
        -webkit-text-size-adjust: none;
    }


    html {
        scroll-behavior: smooth;
      }


    ::-moz-selection { background: var(--green-50); }
    ::selection { background: var(--green-50); }



/*  =======================================
    BASICS
    =================================== */

    body, main {width: 100%;}

    .not-mobile {}
    .mobile-only { display: none;}

    @media screen and (max-width: 48em) {
        .not-mobile { display: none;}
        .mobile-only { display: inherit;}
    }

    section, article {
        margin: auto;
        max-width: 1440px;
        width: 75vw;
    }
    section {
        /* margin-bottom: 5rem; */
        margin-bottom: 7.5%;
    }

    @media screen and (max-width: 67.5em) {
        section, article {
            margin: 0;
        }
        section { 
            width: 90%;
            /* width: calc(100% - 4rem); */
            margin: 7.5% auto;
        }
        article {
            width: 100%;
        }
    }

    header, nav {
        width: 100%;
        z-index: 22;
    }

    img {
        /* background-color: #efefef; */
        background-color: transparent;
    }


/*  =======================================
    base
    =================================== */

    section {
        /*  */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    section:first-of-type {
        /* margin-top: 0; */
        margin-top: var(--header-height);
        /* height: calc(100vh - var(--header-height)); */
        /* min-height: 100vh; */
        /* margin-bottom: 0; */
    }
    
    @media screen and (max-width: 48em) {
        section:first-of-type {
            margin-top: var(--header-height);
            /* min-height: 100vh; */
            margin-bottom: 3rem;
        }
    }
    
    .one_col, .two_col {
        flex-direction: column;
    }
    .col_wrap.reverse {
        flex-direction: row-reverse;
    }
    @media screen and (max-width: 48em) {
        .col_wrap.reverse {
            flex-direction: column;
        }
    }    

    .col_wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }
    
    
    @media screen and (max-width: 48em) {
        .col_wrap {
            flex-direction: column;
        }
    }
    
    .col_feature {
        position: relative;
        width: 100%;
    }
    @media screen and (max-width: 48em) {
        .col_feature {
            margin-bottom: 7.5%;
        }
    }
    
    .two_col .col_feature {
        width: 50%;
    }
    
    
    @media screen and (max-width: 48em) {
        .two_col .col_feature, .col_feature {
            width: 100%;
        }
    }
    
    .col_feature_wrap {
        position: relative;
    }
    
    .two_col .col_wrap .col_feature_img_wrap{
        width: 100%;
        /* aspect-ratio: 1 / 1; */
    }
    
    .col_feature_img_wrap::before { 
        content: "";  
        /* :before and :after both require content */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-image: linear-gradient(20deg,rgba(0,0,0,0.4),rgba(0,0,0,0)); */
        opacity: .7;
    }
    
    
    img.feature_img {
        width: 100%;
        object-fit: cover;
    }
    .one_col img.feature_img {
        height: 80vh;
    }
    .two_col img.feature_img {
        width: 100%;
        /* height: calc(60vh + 5%); */
        object-fit: cover;
    }
    
    .col_feature_text_wrap {
        align-items: flex-start;
    }

    /* ------------------------------------ */
    

    [class*="_img_wrap"] {
        min-width: 100%;
    }

    [class*="_img"] {
        width: 100%;
        /* height: 60vh; */
        object-fit: cover; 
    }
    
    [class*="_text_wrap"]  {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    [class*="_text_wrap"] {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* has to follow to over-power above class */
    [class*="_feature_text_wrap"]  {
        align-items: flex-start;
    }

    .two_col .col_feature:first-of-type [class*="_text_wrap"],
    .two_col .reverse .col_feature:nth-of-type(2) [class*="_text_wrap"]  {
        padding-right: 15%;
    }
    .two_col :not(.reverse) .col_feature:nth-of-type(2) [class*="_text_wrap"]  {
        padding-left: 15%;
    }
    @media screen and (max-width: 48em) {
        .two_col [class*="_text_wrap"]  {
            padding: 0 !important;
        }
    }

    .centre  {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .left  {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    h1[class*="_title"] {
        /* max-width: 70vw; */
    }

    h2[class*="_title"] {        
        max-width: 60vw;
    }

    [class*="_text_wrap"],
    [class*="_text_wrap"] p {

    } 
    [class*="_text_wrap"].centre h2 {
        max-width: 70vw;
        text-align: center;
        margin-top: 0;
    }

    [class*="_text_wrap"].centre p {
        max-width: 51vw;
        text-align: center; 
    }
    @media screen and (max-width: 48em) {
        [class*="_text_wrap"].centre h2,
        [class*="_text_wrap"].centre p {
            max-width: 80vw;
        }
    }

    .subtitle {
        width: 40%;
        max-width: 40vw;
    }


    @media screen and (max-width: 48em) {
        h1[class*="_title"],
        h2[class*="_title"],
        [class*="_text_wrap"],
        /* [class*="_text_wrap"] p, */
        .subtitle 
        {
            width: 100%;
            max-width: 90vw ;
        } 
    }
        /* [class*="_text_wrap"] p,  */

    
    /*  */

    [class*="_text_wrap"] [class*="_list_title"]  {
        min-width: 47.5vw;
        max-width: 47.5vw;
        width: 100%;
    }

    @media screen and (max-width: 1400px) {
        [class*="_text_wrap"] [class*="_list_title"] {
            /* min-width: 60vw;
            max-width: 1200px;
            width: 100%; */
        }
    }

    @media screen and (max-width: 1080px) {
        [class*="_text_wrap"] [class*="_list_title"] {
            min-width: 90vw;
            max-width: 90vw;
            width: 100%;
        }
    }


    [class*="_list_title"] span {
        display: inline-block;
        /* width: 85%; */
    }

    [class*="_list_title"] {
        cursor: pointer;
        width: 100%;
        padding: 1.5% 0;
        margin: 0;
        /* border-bottom: 1px solid rgba(var(--black-val), 0.5); */
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        /*  */
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }
    .accordian_wrap {
        border-bottom: 1px solid rgba(var(--black-val), 0.2);
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        margin: 0.5rem 0 ; 

        /*  */
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }
    .accordian_wrap.is-active {
        background-color: var(--not-white);
    }
    [class*="_list_title"]:hover {
        color: black;
        background-color: var(--not-white);
        padding: 1.5% 2.5%;
    }
    .is-active [class*="_list_title"] {
        padding: 1.5% 2.5%;
    }
    .is-active [class*="_list_title"]:hover {
        box-shadow: unset;
        background-color: unset;
    }
    [class*="_list_title"]::after {
        content: "";
        /* background-image: url(data:image/svg+xml,%3Csvg%20class%3D%22chev%22%20fill%3D%22%23111%22%20height%3D%2230px%22%20width%3D%2230px%22%20viewBox%3D%220%200%20185.4%20300%22%3E%3Cpath%20d%3D%22M7.3%20292.7c-9.8-9.8-9.8-25.6%200-35.4L114.6%20150%207.3%2042.7c-9.8-9.8-9.8-25.6%200-35.4s25.6-9.8%2035.4%200L185.4%20150%2042.7%20292.7c-4.9%204.8-11.3%207.3-17.7%207.3-6.4%200-12.7-2.5-17.7-7.3z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E); */
        background: url(../img/dinkus/chev_r.svg);
        background-position: center right;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        position: absolute;
        right: 2%;
        margin-top: 10px;
        transform: rotate( 0deg );
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    [class*="_list_title"].is-active {
        /* background-color: var(--not-white); */
    }
    .is-active [class*="_list_title"]::after {
        transform: rotate(90deg);
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    [class*="_list_title"] + div, 
    [class*="_list_title"] + p {
        display: none;
        padding: 1% 5% 2.5% ;
        margin: 0; 
        /* background-color: var(--not-white); */
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    [class*="_list_title"].is-active:hover + p {
        /* box-shadow: rgba(0, 0, 0, 0.05) 0 0 15px 10px; */
        /* border-radius: 7px; */
        
    }


/*  =======================================
    HERO
    =================================== */


    #hero {
        margin-top: var(--header-height);
        text-align: center;
        height: calc(100vh - var(--header-height));
        margin-bottom: 0;
    }

    .hero_img_wrap { 
    }

    .hero_img {
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }

    .hero_text_wrap  {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .hero_text_wrap h1 {
        max-width: 72%;
        /* letter-spacing: -3.6px; */
        text-align: left;
    }
    .hero_text_wrap p {
        max-width: 40%;
        text-align: left;
    }

    @media screen and (max-width: 48em) {
        .hero_text_wrap h1, .hero_text_wrap p {
            max-width: 90vw;
        }
    }

    .more_link{
        margin-top: 2.5rem;
        margin-left: -1rem;
        padding: 1rem;
        /*  */
        float: left;
        clear: both;
        position: relative;
        /*  */
        /* -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        transition: all 1s ease-out; */
    }
    .more {
        content: '';
        background-image: url(../img/dinkus/more.svg);
        background-repeat: no-repeat;
        width: 44px;
        height: 46px;
        /* transform: translateY(1rem;); */
        cursor: pointer;
        position: relative;
    }
    .more:hover {
        /* transform: translateY(1rem); */
    }
    .more_link:hover {  
        animation: bounceMore 1.5s ease-in-out 0.25s infinite;
    }
    
    @keyframes bounceMore {
        0% {top: 0px;}
        50% {top: 20px;}
        100% {top: 0px;}
    }


    

/*  =======================================
    hero_case_study
    =================================== */

    /*  */

    section#hero_case_study, section#hero_case_study article  {
        margin: auto;
        max-width: unset;
        width: 100vw;
    }
    section#hero_case_study {
        margin-bottom: 5rem;
    }

    /* section#hero_case_study article, */
    #hero_case_study .case_study_text_wrap {
        margin: auto;
        max-width: 1440px;
        width: 75vw;
    }
    @media screen and (max-width: 48em) {
        .case_study_text_wrap {
            padding-top: 5%;
            padding-bottom: 5%;
            height: 100%;
        }
    }

    .case_study_wrap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media screen and (max-width: 48em) {
        .case_study_wrap {
            align-items: flex-start;
        }
    }

    .case_study_wrap::before { 
        content: "";  
        /* :before and :after both require content */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(20deg,rgba(0,0,0,0.4),rgba(0,0,0,0));
        opacity: .7;
    }


    img.case_study_img {
        width: 100%;
        object-fit: cover;
    }
    .one_col_feature img.case_study_img {
        min-height: calc(100vh - var(--header-height));
        height: 100vh;
        object-fit: cover;
        object-position: bottom right;
    }

    @media screen and (max-width: 48em) {
        /* 768px */
        .one_col_feature img.case_study_img {
            height: calc(100vh - var(--header-height));
        }
    }

    .case_study_text_wrap {
        min-height: calc(80vh - var(--header-height));
        position: absolute;
        z-index: 22;
    }

    /* .case_study_text_wrap h2.case_study_title, */
    .case_study_text_wrap h2[class*="_title"] {
        width: 50%;
        text-align: left;
        margin-bottom: 1.5rem;
    }
    @media screen and (max-width: 48em) {
        /* .case_study_text_wrap h2.case_study_title, */
        .case_study_text_wrap h2[class*="_title"] {
            max-width: 100% ;
            width: 100%;
        }
    }
    
    .case_study_text_wrap p {
        width: 40%;
        text-align: left;
        color: #fff;
        min-height: 90px;
    }
    @media screen and (max-width: 48em) {
        .case_study_text_wrap p {
            width: 100%;
        }
    }


    .more_white {
        content: '';
        background-image: url(../img/dinkus/more_white.svg);
        background-repeat: no-repeat;
        width: 44px;
        height: 46px;

    }
    
    .case_study_brand_wrap {
        position: absolute;
        bottom: 0;
        right:0;
    }

    @media screen and (max-width: 48em) {
        .case_study_brand_wrap {
            bottom: 5%;
        }
    }

    .case_study_brand_wrap h3 {
        color: #fff;
        margin-bottom: 1rem;
        text-align: right;
    }

    .case_study_brand_wrap .btn {
        margin-right: 0;
        float: right;
    }


    /* requires add_class_swap_state.js to work */
    .state_on { 
        position: absolute;
        z-index: 11; 
    }
    .state_off {
        z-index: 1; 
    }

    /* NOTE */
    /* improves pre js load render */
    .case_study_brand_wrap.state_off {
        visibility: hidden;
    }

/*  =======================================
    FEATURES
    =================================== */

    


/*  =======================================
    CASE STUDY FEATURE
    =================================== */


    .case_study_feature {}

    article.cs_feature, 
    article.cs_feature_right  {
        position: relative;
    }

    .cs_feature_wrap {
        position: relative;
    }

    .cs_feature_img_wrap{
        width: 100%;
    }

    .cs_feature_img_wrap::before { 
        content: "";  
        /* :before and :after both require content */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-image: linear-gradient(20deg,rgba(0,0,0,0.4),rgba(0,0,0,0)); */
        opacity: .7;
    }
    [class*="_right"] .cs_feature_img_wrap::before { 
        /* background-image: linear-gradient(-20deg,rgba(0,0,0,0.4),rgba(0,0,0,0)); */
    }
    @media screen and (max-width: 48em) {
        .cs_feature_img_wrap::before { 
            background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0));
        }
    }

    img.cs_feature_img {
        width: 100%;
        object-fit: cover;
    }
    .one_col_feature img.cs_feature_img {
        min-height: 80vh;
    }
    @media screen and (max-width: 48em) {
        .one_col_feature img.cs_feature_img {
            min-height: 100vw;
        }
    }

    .two_col_feature img.cs_feature_img {
        width: 100%;
        /* height: calc(60vh + 5%); */
        object-fit: cover;
    }

    .cs_feature_text_wrap {
        position: absolute;
        bottom:0;
        padding-left: 7.5%;
        padding-bottom: 7.5%;
        max-width: 45%;
        align-items: flex-start;
    }
    @media screen and (max-width: 48em) {
        .cs_feature_text_wrap {
            padding-right: 7.5%;
        }
    }
    .cs_feature_right .cs_feature_text_wrap {
        position: absolute;
        bottom:0;
        padding-right: 7.5%;
        padding-bottom: 7.5%;
        max-width: 40%;
        margin-left: 60%;
    }
    @media screen and (max-width: 48em) {
        .cs_feature_right .cs_feature_text_wrap {
            margin-left: 0;
        }
    }
    @media screen and (max-width: 48em){
        [class*="cs_feature"] h1[class*="_title"], 
        [class*="cs_feature"] h2[class*="_title"], 
        [class*="cs_feature"] [class*="_text_wrap"], 
        .subtitle {
            width: 100%;
            max-width: 90vw;
        }
    }


    .cs_type, .cs_title, .cs_subtitle, .cs_copy {
/*  */
    }

    .cs_type, .cs_subtitle {
/*  */
    }

    .cs_title {
        margin-bottom: 0;
    }

    .cs_type {
        font-size: 30px;
    }



/*  =======================================
    AWARDS
    =================================== */

    /* AWARDS */

    #awards, #awards article {
        margin: auto;
        max-width: 1440px;
        width: 75vw;
    }
    section#awards {
        margin-bottom: 5rem;
    }

    @media screen and (max-width: 1700px) {
        section#awards, #awards article {
            margin: 0;
        }
        section#awards { 
            width: 75vw;
            margin-left: auto;
            margin-right: auto;
        }
        #awards article {
            width: 100%;
        }
    }
    @media screen and (max-width: 48rem) {
        section#awards { 
            width: 90vw;
        }
    }

    .awards_text_wrap  {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .awards_text_wrap h2.awards_title {
        max-width: 70vw;
        text-align: center;
    }
    .awards_text_wrap p.awards_copy {
        max-width: 50vw;
        text-align: center;
    }
    @media screen and (max-width: 80em) {
        .awards_text_wrap p.awards_copy {
            max-width: 75vw;
        }
    }
    
    @media screen and (max-width: 48em) {
        .awards_text_wrap p.awards_copy {
            max-width: unset;
            width:90%;
        }
    }

    @media screen and (max-width: 48em){
        [class*="awards"] h1[class*="_title"], 
        [class*="awards"] h2[class*="_title"], 
        [class*="awards"] [class*="_text_wrap"], 
        .subtitle {
            width: 100%;
            max-width: 90vw;
        }
    }
    /* 
    :root {
        --award-width: calc((1400px / 4) - 20%);
        --laurel-widths: calc(55px * 1);
    }
    @media screen and (max-width: 90em) {
        :root {
        --award-width: calc(25vw - 4rem);
        }   
    } 
    */

    .awards_row_wrap {
        display: flex;
        flex-wrap: nowrap;
        gap: 2%;
        margin-top: 4rem;
        margin-bottom: 4rem;
        justify-content: center;
    }
    .award_wrap {
        /* width: 25%; */
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 3em;
    }
    @media screen and (max-width: 80em) {
        .awards_row_wrap {
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 10%;
        }
        .award_wrap {
            max-width: 40%;
        }
    }

    @media screen and (max-width: 40em) {
        .award_wrap {
            max-width: 100%;
        }
    }

    /* AWARD */
    
    .award_img_left, .award_img_right {
        min-width: 55px;
        min-height: 95px;
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
        /* margin-top: 0.5 rem; */
    }
    .award_img_left {        
        background-image: url(../img/dinkus/laurel_left.svg);
        /* left:0; */
        margin-right: -0.5rem;
    }
    .award_img_right {        
        background-image: url(../img/dinkus/laurel_right.svg);
        margin-left: -0.5rem;
    }
    
    .award_text_wrap  {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    h4.award_title {
        text-align: center;
        max-width: 180px;
        margin-top: 0;
        margin-bottom: 0.5em;
    }
    p.award_copy {
        /* text-align: center !important;
        font-size: 12px; */
        max-width: 150px;
        margin-top: 0;
        margin-top: 0;        
        margin-bottom: 1em;
    }

    h5.award_class {
        /* text-align: center;
        text-transform: uppercase !important;
        font-family: var(--font-family-Aktiv);
        font-size: 16px;
        letter-spacing: 0.5rem; */
        min-width: 180px;
        margin-top: 0;
        margin-bottom: 0;   
    }
    
    

/*  =======================================
    GROWTH
    =================================== */

    /* GROWTH */

    #growth, #growth article {
        margin: auto;
        max-width: 1440px;
        width: 75vw;
    }
    section#growth {
        margin-bottom: 5rem;
    }

    @media screen and (max-width: 1700px) {
        section#growth, #growth article {
            margin: 0;
        }
        section#growth { 
            width: 75vw;
            margin-left: auto;
            margin-right: auto;
        }
        #growth article {
            width: 100%;
        }
    }
    @media screen and (max-width: 48rem) {
        section#growth { 
            width: 90vw;
        }
    }

    .growth_text_wrap  {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    .growth_text_wrap h2.growth_title {
        /* max-width: 70vw; */
        text-align: center;
    }

    .growth_text_wrap p.growth_copy {
        max-width: 50vw;
        text-align: center;
    }
    @media screen and (max-width: 80em) {
        .growth_text_wrap p.growth_copy {
            max-width: 75vw;
        }
    }
    @media screen and (max-width: 48em) {
        .growth_text_wrap p.growth_copy {
            max-width: 80vw;
        }
    }
    
    
    .growth_row_wrap {
        display: flex;
        flex-wrap:nowrap;
        gap: 7.5%;
        justify-content: center;
        align-items: flex-end;
        /* justify-content: space-around; */
        /* margin-top: 4rem;
        margin-bottom: 4rem; */
    }
    @media screen and (max-width: 1600px) {
        .growth_row_wrap {
            gap: 5%;
        }
    }
    @media screen and (max-width: 1280px) {
        .growth_row_wrap {
            /* gap: 3%; */
        }
    }
    @media screen and (max-width: 1280px) {
        /* @media screen and (max-width: 67.5em) { */
        .growth_row_wrap {
            flex-wrap: wrap;
            /* justify-content: space-evenly; */
            /* gap: 5%; */
        }
    }
    @media screen and (max-width: 48em) {
        .growth_row_wrap {
            /* gap: 5%; */
        }
    }


    .grow_wrap {
        /* width: 25%; */
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3em;
    }

    @media screen and (max-width: 67.5em) {        
        .grow_wrap {
            max-width: 40%;
        }
    }

    @media screen and (max-width: 40em) {
        .grow_wrap {
            max-width: 45%;
        }
    }

    /* AWARD */
    
    .grow_img {
        /* width:90%; */
        min-width: 55px;
        max-height: 95px;
        /* max-width: 55px;
        max-height: 95px; */
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
        /* margin-top: 0.5 rem; */
        margin-bottom: 2rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .grow_img img{        
        max-width: 220px;
        width: 100%;
        max-height: 90px;
    }

    
    @media screen and (max-width: 40em){
        .grow_img img {
            width: 100%;
        }
    }
    
    .grow_text_wrap  {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    h4.grow_amount {
        /* text-align: center;
        font-size:40px; */
        max-width: 180px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .up_arrow::before, .down_arrow::before {
        width: 25px;
        height: 28px;
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 0.5rem;
        padding: 0 35px 0 0
    }
    .up_arrow::before {        
        background-image: url(../img/dinkus/up_arrow.svg);
    }
    .down_arrow::before {        
        background-image: url(../img/dinkus/down_arrow.svg);
    }

    p.grow_detail {
        margin-top: 0;        
        margin-bottom: 1em;
        min-width: 170px;
    }

    
      
/*  =======================================
    ABOUT US FEATURE
    =================================== */


    .about_us_feature {}

    article.about_us_feature, 
    article.about_us_feature_right  {
        position: relative;
    }

    .about_us_feature_wrap {
        position: relative;
    }

    .about_us_feature_img_wrap{
        width: 100%;
    }

    .about_us_feature_img_wrap::before { 
        content: "";  
        /* :before and :after both require content */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(20deg,rgba(0,0,0,0.4),rgba(0,0,0,0));
        opacity: 1;
    }
    [class*="_right"] .about_us_feature_img_wrap::before { 
        background-image: linear-gradient(-20deg,rgba(0,0,0,0.4),rgba(0,0,0,0));
    }

    img.about_us_feature_img {
        width: 100%;
        object-fit: cover;
    }
    .one_col_feature img.about_us_feature_img {
        height: 80vh;
    }
    @media screen and (max-width: 48em) {
        .one_col_feature img.about_us_feature_img {
            max-height: 100vw;
        }
    }

    .two_col_feature img.about_us_feature_img {
        width: 100%;
        /* height: calc(60vh + 5%); */
        object-fit: cover;
    }

    .about_us_feature_text_wrap {
        position: absolute;
        bottom:0;
        padding-left: 7.5%;
        padding-bottom: 7.5%;
        max-width: 40%;
    }
    @media screen and (max-width: 48em) {
        .about_us_feature_text_wrap {
            padding-right: 7.5%;
        }
    }
    .about_us_feature_right .about_us_feature_text_wrap {
        position: absolute;
        bottom:0;
        padding-right: 7.5%;
        padding-bottom: 7.5%;
        padding-left:0;
        max-width: 40%;
        margin-left: 60%;
    }
    @media screen and (max-width: 48em) {
        .about_us_feature_right .about_us_feature_text_wrap {
            margin-left: 0;
            padding-left:7.5%;
        }
    }

    @media screen and (max-width: 48em){
        [class*="about_us"] h1[class*="_title"], 
        [class*="about_us"] h2[class*="_title"], 
        [class*="about_us"] [class*="_text_wrap"], 
        .subtitle {
            width: 100%;
            max-width: 90vw;
        }
    }

    .about_us_type, .about_us_title, .about_us_subtitle, .about_us_copy {
        color:#fff;
    }

    .about_us_type, .about_us_subtitle {
        font-family: var(--font-family-Aktiv);
    }

    .about_us_title {
        margin-bottom: 0;
    }
  

/*  =======================================
    VIDEO_DMS
    =================================== */

    #cs_video {
        align-items: flex-start;
    }
    @media screen and (max-width: 48em) {
        #cs_video {
            /* width: 90%; */
        }
    }

    .cs_video_wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-end;
        align-items: flex-start;
    }
    
    .cs_video_wrap {}
    .video_wrap {
        min-width: 100%;
    }

    .cs_video_wrap h2, .cs_video_wrap .subtitle {
        color: white;
    }
    
    #cs_video .cs_video_img {
        width: 100%;
        object-fit: cover;
        max-height: 80vh;
        aspect-ratio: 16 / 9;
    }
    /* aspect ratio legacy browser support */
    @supports not (aspect-ratio: 16 / 9) {
        #cs_video .cs_video_img::before {
          float: left;
          padding-top: 100%;
          content: "";
        }
      
        #cs_video .cs_video_img::after {
          display: block;
          content: "";
          clear: both;
        }
      }


    .cs_video_text_wrap {
        position: absolute;
        bottom:0;
        padding-left: 30px;
        padding-bottom: 30px;
    }

    .cs_video_vid {display: none;}

    #cs_video [class*="_text_wrap"]  {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-end;
        align-items: flex-start;
    }

/*  =======================================
    BRAND
    =================================== */

    /* Brand */

    #brands, #brands article {
        margin: auto;
        max-width: 1440px;
        width: 75vw;
    }
    section#brands {
        margin-bottom: 5rem;
    }

    @media screen and (max-width: 1700px) {
        section#brands, #brands article {
            margin: 0;
        }
        section#brands { 
            width: 75vw;
            margin-left: auto;
            margin-right: auto;
        }
        #brands article {
            width: 100%;
        }
    }
    @media screen and (max-width: 48rem) {
        section#brands { 
            width: 90vw;
        }
    }

    .brands_text_wrap  {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brands_text_wrap h2.brands_title {
        /* max-width: 70vw; */
        text-align: center;
    }

    .brands_text_wrap p.brands_copy {
        max-width: 50vw;
        text-align: center;
    }
    @media screen and (max-width: 80em) {
        .brands_text_wrap p.brands_copy {
            max-width: 75vw;
        }
    }
    @media screen and (max-width: 48em) {
        .brands_text_wrap p.brands_copy {
            max-width: 80vw;
        }
    }
    
    
    .brands_row_wrap {
        display: flex;
        /* flex-wrap:nowrap; */
        flex-wrap:wrap;
        /* gap: 7.5%; */
        justify-content: space-around;
    }
    @media screen and (max-width: 1600px) {
        .brands_row_wrap {
            gap: 5%;
        }
    }
    @media screen and (max-width: 1280px) {
        .brands_row_wrap {
            /* gap: 3%; */
        }
    }
    @media screen and (max-width: 1280px) {
        /* @media screen and (max-width: 67.5em) { */
        .brands_row_wrap {
            flex-wrap: wrap;
            /* justify-content: space-evenly; */
            /* gap: 5%; */
        }
    }
    @media screen and (max-width: 48em) {
        .brands_row_wrap {
            /* gap: 5%; */
        }
    }


    .brand_wrap {
        width: 20%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3em;
    }

    @media screen and (max-width: 67.5em) {        
        .brand_wrap {
            width: 30%;
        }
    }

    @media screen and (max-width: 40em) {
        .brand_wrap {
            width: 45%;
        }
        .brand_wrap img {
            width: 100%;
        }
    }
    @media screen and (max-width: 35em) {
        .brand_wrap {
            /* width: 100%; */
        }
    }

    /* brand */
    
    .brand_img {
        /* width:90%; */
        min-width: 55px;
        max-height: 95px;
        /* max-width: 55px;
        max-height: 95px; */
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
        /* margin-top: 0.5 rem; */
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .brand_img img{        
        max-width: 220px;
        height: 90%;
    }
    
    .brands_text_wrap  {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }
    
    h4.brand_amount {
        /* text-align: center;
        font-size:40px; */
        max-width: 180px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .up_arrow::before, .down_arrow::before {
        width: 25px;
        height: 28px;
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 0.5rem;
        padding: 0 35px 0 0
    }
    .up_arrow::before {        
        background-image: url(../img/dinkus/up_arrow.svg);
    }
    .down_arrow::before {        
        background-image: url(../img/dinkus/down_arrow.svg);
    }

    p.brand_detail {
        /* text-align: center !important;
        font-size: 19px; */
        margin-top: 0;
        margin-top: 0;        
        margin-bottom: 1em;
        min-width: 143px;
    }

        

/*  =======================================
    END AD
    =================================== */
  
/*  */


.end_ad {
    position: relative;
}
.end_ad_img_wrap{ 
    min-width: 100%;
    height: 45vh;
}

@media screen and (max-width: 36rem) {
    .end_ad .end_ad_img_wrap {
        height: 67vh;
    }
}

.end_ad_img_wrap::before { 
    content: "";  
    /* :before and :after both require content */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(20deg,rgba(0,0,0,0.2),rgba(0,0,0,0.0)); */
    background-image: linear-gradient(20deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    opacity: 0.7;
}
@media screen and (max-width: 48rem) {
    .end_ad_img_wrap::before { 
        background-image: linear-gradient(20deg,rgba(0,0,0,0.7),rgba(0,0,0,0.6));
    }
}

.end_ad img[class*="_img"] {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.end_ad img.feature_img {
    
}


.end_ad_text_wrap {
    position: absolute;
    /* bottom:0;
    padding-left: 30px;
    padding-bottom: 30px; */
}

.end_ad [class*="_text_wrap"] header {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end_ad h2, .end_ad p {
    color: white;
    text-align: center;
    max-width: unset;
}

.end_ad [class*="_text_wrap"] h2 {
    width: 70%;
    margin-bottom: 0;
}

.end_ad [class*="_text_wrap"] p {
    width: 62.5%;
}
@media screen and (max-width: 36rem) {
    .end_ad [class*="_text_wrap"] p {
        width: 90%;
    }
}    

/*  =======================================
    MEDIA QUERIES
    =================================== */


/* XSmall Screen / ≥ 376px */
@media screen and (min-width: 23.5em) {

}

/* Small Screen / ≥ 480px */
@media screen and (min-width: 30em) {

}

/* Small Screen / ≥ 568px */
@media screen and (min-width: 35.5em) {

}

/* Medium Screen / ≥ 768px */
@media screen and (min-width: 48em) {

}

/* Large Screen / ≥ 1024px */
@media screen and (min-width: 64em) {

}

/* Large Screen / ≥ 1080px */
@media screen and (min-width: 67.5em) {

}

/* Extra Large Screen / ≥ 1280px */
@media screen and (min-width: 80em) {

}


/* Huge Screen / ≥ 1440px */
@media screen and (min-width: 90em) {

}