/* ========================================================================== */
/* digital_media_strategy.css */
/* ========================================================================== */

#digital_media_strategy {}



/*  =======================================
    hero_dms
    =================================== */

    #hero_dms {
        margin-top: var(--header-height);
        /* min-height: 100vh; */
         /* min-height: calc(100vh - var(--header-height)); */
         margin-bottom: 3rem;
        /*  */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    @media screen and (max-width: 48em) {
        #hero_dms {
            margin-top: var(--header-height);
            /* min-height: 100vh; */
        }
    }
    
    #hero_dms .col_wrap {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
    @media screen and (max-width: 48em) {
        #hero_dms .col_wrap {
            padding-left: 0;
            padding-right: 0;
        }
    }
     
    .hero_dms_text_wrap {
        align-items: flex-start;
    }
    .hero_dms_text_wrap p {
        /* text-align: center; */
    }


    #hero_dms .col_feature_img_wrap {
        margin-top: 30%;
    }
    @media screen and (max-width: 48em) {
        #hero_dms .col_feature_img_wrap {
            margin-top: 10%;
        }
    }



/*  =======================================
    INTRO_DMS
    =================================== */

    #intro_dms .col_wrap {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
    @media screen and (max-width: 48em) {
        #intro_dms .col_wrap {
            padding-left: 0;
            padding-right: 0;
        }
    }

    #intro_dms h4{
        text-align: left; 
        margin-bottom: 0;
    }

    #intro_dms [class*="_text_wrap"].left p {
        width: 100%;
        max-width: 51vw;
        text-align: left; 
    }

    @media screen and (max-width: 1080px) {
        #intro_dms [class*="_text_wrap"].left p {
            max-width: 80vw;
            width: 100%;
        }
    }


/*  =======================================
    VIDEO_DMS
    =================================== */

    section.dms_growth {
        flex-direction: column;
    }    

    .stragety_dms_title, 
    .stragety_dms_heading {
        margin-bottom: 0;
    }

/*  =======================================
    GROWTH_DMS
    =================================== */
   
    .dms_growth {

    }


/*  =======================================
    STRATGEY_DMS
    =================================== */
    
    
    #stragety_dms .btn {
        margin: 1.5rem 0;
    }


/*  =======================================
    BREAKDOWNs_DMS
    =================================== */
    
    #breakdown_dms [class*="_text_wrap"],
    #breakdown_dms [class*="_text_wrap"] .breakdown_dms_list_title  {
        min-width: 47.5vw;
        max-width: 47.5vw;
        width: 100%;
    }

    #breakdown_dms [class*="_text_wrap"].left p {
        width: 100%;
        text-align: left; 
    }

    @media screen and (max-width: 1400px) {
        #breakdown_dms [class*="_text_wrap"],
        #breakdown_dms [class*="_text_wrap"] .breakdown_dms_list_title {
            min-width: 60vw;
            max-width: 1200px;
            width: 100%;
        }
    }

    @media screen and (max-width: 1080px) {
        #breakdown_dms [class*="_text_wrap"],
        #breakdown_dms [class*="_text_wrap"] .breakdown_dms_list_title {
            min-width: 90vw;
            max-width: 90vw;
            width: 100%;
        }
    }

    .breakdown_dms_list_title span {
        display: inline-block;
        /* width: 85%; */
    }

    .breakdown_dms_list_title {
        cursor: pointer;
        width: 100%;
        padding: 1.5% 0;
        margin: 0;
        /* border-bottom: 1px solid rgba(var(--black-val), 0.5); */
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        /*  */
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }
    .accordian_wrap {
        border-bottom: 1px solid rgba(var(--black-val), 0.2);
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        margin: 0.5rem 0 ; 

        /*  */
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }
    .accordian_wrap.is-active {
        background-color: var(--not-white);
    }
    .breakdown_dms_list_title:hover {
        color: black;
        background-color: var(--not-white);
        padding: 1.5% 2.5%;
    }
    .is-active .breakdown_dms_list_title {
        padding: 1.5% 2.5%;
    }
    .is-active .breakdown_dms_list_title:hover {
        box-shadow: unset;
        background-color: unset;
    }
    .breakdown_dms_list_title::after {
        content: "";
        /* background-image: url(data:image/svg+xml,%3Csvg%20class%3D%22chev%22%20fill%3D%22%23111%22%20height%3D%2230px%22%20width%3D%2230px%22%20viewBox%3D%220%200%20185.4%20300%22%3E%3Cpath%20d%3D%22M7.3%20292.7c-9.8-9.8-9.8-25.6%200-35.4L114.6%20150%207.3%2042.7c-9.8-9.8-9.8-25.6%200-35.4s25.6-9.8%2035.4%200L185.4%20150%2042.7%20292.7c-4.9%204.8-11.3%207.3-17.7%207.3-6.4%200-12.7-2.5-17.7-7.3z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E); */
        background: url(../img/dinkus/chev_r.svg);
        background-position: center right;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        position: absolute;
        right: 2%;
        margin-top: 10px;
        transform: rotate( 0deg );
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    .breakdown_dms_list_title.is-active {
        /* background-color: var(--not-white); */
    }
    .is-active .breakdown_dms_list_title::after {
        transform: rotate(90deg);
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    .breakdown_dms_list_title + p {
        display: none;
        padding: 1% 5% 2.5% ;
        margin: 0; 
        /* background-color: var(--not-white); */
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .breakdown_dms_list_title.is-active:hover + p {
        /* box-shadow: rgba(0, 0, 0, 0.05) 0 0 15px 10px; */
        /* border-radius: 7px; */
        
    }


