/* ========================================================================== */
/* digital_media_strategy.css */
/* ========================================================================== */

#digital_media_strategy {}



/*  =======================================
    hero_dms
    =================================== */

    #hero_dms {
        margin-top: var(--header-height);
        /* min-height: 100vh; */
         /* min-height: calc(100vh - var(--header-height)); */
         margin-bottom: 3rem;
        /*  */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    @media screen and (max-width: 48em) {
        #hero_dms {
            margin-top: var(--header-height);
            /* min-height: 100vh; */
        }
    }
    
    #hero_dms .col_wrap {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
    @media screen and (max-width: 48em) {
        #hero_dms .col_wrap {
            padding-left: 0;
            padding-right: 0;
        }
    }
     
    .hero_dms_text_wrap {
        align-items: flex-start;
    }
    .hero_dms_text_wrap p {
        /* text-align: center; */
    }


    #hero_dms .col_feature_img_wrap {
        margin-top: 30%;
    }
    @media screen and (max-width: 48em) {
        #hero_dms .col_feature_img_wrap {
            margin-top: 10%;
        }
    }



/*  =======================================
    INTRO_DMS
    =================================== */

    #intro_dms .col_wrap {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
    @media screen and (max-width: 48em) {
        #intro_dms .col_wrap {
            padding-left: 0;
            padding-right: 0;
        }
    }

    #intro_dms h4{
        text-align: left; 
        margin-bottom: 0;
    }

    #intro_dms [class*="_text_wrap"].left p {
        width: 100%;
        max-width: 51vw;
        text-align: left; 
        margin-top: 1rem;
    }

    @media screen and (max-width: 1080px) {
        #intro_dms [class*="_text_wrap"].left p {
            max-width: 80vw;
            width: 100%;
        }
    }


/*  =======================================
    VIDEO_DMS
    =================================== */

    section.dms_growth {
        flex-direction: column;
    }    

    .stragety_dms_title, 
    .stragety_dms_heading {
        margin-bottom: 0;
    }

/*  =======================================
    GROWTH_DMS
    =================================== */
   
    .dms_growth {

    }


/*  =======================================
    STRATGEY_DMS
    =================================== */
    
    
    #stragety_dms .btn {
        margin: 1.5rem 0;
    }


/*  =======================================
    BREAKDOWNs_DMS
    =================================== */
    
    #breakdown_dms [class*="_text_wrap"],
    #breakdown_dms [class*="_text_wrap"] .breakdown_dms_list_title  {
        min-width: 47.5vw;
        max-width: 47.5vw;
        width: 100%;
    }
    #breakdown_dms h2.breakdown_dms_title  {
        margin-bottom: 1.5rem;
    }

    #breakdown_dms [class*="_text_wrap"].left p {
        width: 100%;
        text-align: left; 
    }

    @media screen and (max-width: 1400px) {
        #breakdown_dms [class*="_text_wrap"],
        #breakdown_dms [class*="_text_wrap"] .breakdown_dms_list_title {
            min-width: 60vw;
            max-width: 1200px;
            width: 100%;
        }
    }

    @media screen and (max-width: 1080px) {
        #breakdown_dms [class*="_text_wrap"],
        #breakdown_dms [class*="_text_wrap"] .breakdown_dms_list_title {
            min-width: 90vw;
            max-width: 90vw;
            width: 100%;
        }
    }

    .breakdown_dms_list_title span {
        display: inline-block;
        /* width: 85%; */
    }

    .breakdown_dms_list_title {
        cursor: pointer;
        width: 100%;
        padding: 1.5% 0;
        margin: 0;
        /* border-bottom: 1px solid rgba(var(--black-val), 0.5); */
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        /*  */
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }
    


