
/*  =======================================
    FORM
    =================================== */

    #footer_form {
        max-width: 370px;
        width: 100%;
    }

    #footer_form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(var(--white-rgb),.8);
        font-family: var(--font-family-Aktiv);
    }
    #footer_form ::-moz-placeholder { /* Firefox 19+ */
        color: rgba(var(--white-rgb),.8);
        font-family: var(--font-family-Aktiv);
    }
    #footer_form :-ms-input-placeholder { /* IE 10+ */
        color: rgba(var(--white-rgb),.8);
        font-family: var(--font-family-Aktiv);
    }
    #footer_form :-moz-placeholder { /* Firefox 18- */
        color: rgba(var(--white-rgb),.8);
        font-family: var(--font-family-Aktiv);
    }


    @media screen and (max-width: 48em) {
        .footer_col_03, .footer_col_03 h6, #footer_form form {
            display: none;
        }
    }
    
    
    #footer_form form {
        box-sizing: border-box;
        width: 100%;
        max-width: 320px;
    }

    #footer_form .hs-form-field {
        position: relative;
        margin-bottom: 1rem;
    }
/* 
    #footer_form label, #footer_form input {
        display: block;
        width:100%;
    } 
*/

/* 
    #footer_form label {
        color: white;
        font-family: var(--font-family-Aktiv);
        font-size: 13px;
        margin-top: 1rem;
        transform: scale(1);
        transform-origin: left;
        transition: all 0.2s ease-in-out;
    }
 */
    

    #footer_form input[type="text"],
    #footer_form input[type="email"],
    #footer_form input[type="number"], 
    #footer_form input[type="tel"], 
    #footer_form input[name="message"] {
        width: 100%;
        padding: 0.5rem;
        /* padding: 0.5rem 1rem 0.5rem 0; */
        /* font-size: 1rem; */
        font-size: 13px;
        line-height: inherit;
        letter-spacing: .2;
        color: white;
        font-family: var(--font-family-Aktiv);
        border: none;
        box-sizing: border-box;
        /* background:transparent; */
        border-bottom:1px solid rgba(var(--white-rgb),0.8);
        background: rgba(0, 0, 0, 0);
        transition: all 0.2s ease-in-out;
        border-radius: unset;
    }

/* 
    #footer_form input + label {
        position: absolute;
        left: 0;
        top:0;
        transform: scale(1);
        transition: all 0.2s ease-in-out;
    } 
*/

    /* You have to use this to make it clickable through*/
/* 
    #footer_form input + label {
        pointer-events: none;
    } 
*/

    #footer_form input[type="email"]:focus, 
    #footer_form input[type="number"]:focus, 
    #footer_form input[type="search"]:focus, 
    #footer_form input[type="text"]:focus, 
    #footer_form input[type="tel"]:focus, 
    #footer_form input[type="url"]:focus, 
    #footer_form input[type="password"]:focus,
    #footer_form input[name="message"]:focus 
    #footer_form textarea:focus, 
    #footer_form select:focus {
        border: none;
        outline: 0;
        background: rgba(var(--white-rgb),0.3);
        border-bottom:2px solid rgba(var(--white-rgb),0.5);
        outline: none;
        padding-left: 1rem;
    }

    #footer_form textarea {
        width: 100%;
        padding: 0.5rem;
        font-size: 13px;
        line-height: inherit;
        letter-spacing: .2;
        color: white;
        font-family: var(--font-family-Aktiv);
        box-sizing: border-box;
        border:1px solid rgba(var(--white-rgb),0.8);
        background: rgba(0, 0, 0, 0);
        transition: all 0.2s ease-in-out;
        border-radius: unset;
    }

    #footer_form textarea:focus {
        border: none;
        outline: 0;
        background: rgba(var(--white-rgb),0.3);
        /* background: var(--vlight_grey); */
        border-bottom:2px solid rgba(var(--white-rgb),0.5);
        outline: none;
        padding-left: 1rem;
    }

    /* placeholder needs to have something in it - a space will do eg: placeholder=" " */
    /* Use "Translate" function instead of classic positioning for better performance */
    /* transform: translateY(-3em); */
/*     
    #footer_form select:focus-within + label,
    #footer_form input:focus-within + label,
    #footer_form textarea:focus-within + label,
    #footer_form input[type="text"]:focus + label,
    #footer_form input[type="email"]:focus + label,
    #footer_form input[name="message"]:focus + label,
    #footer_form input[type="text"]:focus-within + label, 
    #footer_form input[type="email"]:focus-within + label,
    #footer_form input[name="message"]:focus-within + label,
    #footer_form input:not(:placeholder-shown) + label { 
        color: var(--not-white);
        font-weight: 400;
        transform: scale(0.8);
        top: -37px;
    }
*/

    #footer_form input:focus {
        background: rgba(var(--white-rgb),0.3);
        border-bottom:2px solid var(--white);
        outline: none;
    }

    #footer_form input[type="textarea"]
    #footer_form input[name="message"] {}

    #footer_form .no-list.hs-error-msgs.inputs-list {
        padding: 0;
        list-style: none;
        margin: 0;
        margin-top: 0.25rem;
    }
    #footer_form .no-list.hs-error-msgs.inputs-list li {
        margin: 0;
    }

    #footer_form .hs-error-msg {
        background-color: #fff !important;
        color: var(--main-black);
        padding: 0.25rem;
    }


#footer_form .hs-button {
    position: relative;
    z-index: 1;
    margin-left: 0;
    margin-right: 6px;
    margin-top: 6px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 8px 28px;
    border-radius: 20px;
    /* color: #111; */
    border: none;
    font-family: var(--font-link);
    font-weight: 500;
    font-size: 16px;
    /* line-height: 1.5; */
    line-height: 1.8;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
/*  */
    background: rgba(var(--white-rgb), 1);
    color: var(--main-black);
}
#footer_form .hs-button:hover {
    background: rgba(var(--white-rgb), 0.2);
    color: var(--main-black);
}

