 /* 
 
 when CTA  button is clicked: 
 .is-visible needs to be added to .pre-scrim
 .popped needs to be added to #pop_up

 */

/*  ----------------------------
    blurr the background when mobile menu is active 
    requires js to add class 
--------------------------------    */



.post-scrim {
    background-color: hsla(0,0%,7%,.36);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.post-scrim {
    opacity: 0;
    z-index: 1111;
    visibility: hidden;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity .25s,visibility 0s linear .25s;
}
/*  */

.post-scrim.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .8s ease,visibility 0s;
}

#close {
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    content:'X';
    width:20px;
    height: 20px;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220.574%22%20height%3D%2220.375%22%20viewBox%3D%220%200%2020.574%2020.375%22%3E %20%20%3Cpath%20d%3D%22M24511.518%2C4449.6l-7.73-7.646-7.73%2C7.646a1.5%2C1.5%2C0%2C0%2C1-1.057.431%2C1.5%2C1.5%2C0%2C0%2C1-1.053-2.566l7.707-7.621-7.707-7.624a1.5%2C1.5%2C0%2C1%2C1%2C2.109-2.129l7.73%2C7.644%2C7.73-7.644a1.5%2C1.5%2C0%2C1%2C1%2C2.111%2C2.129l-7.709%2C7.624%2C7.709%2C7.621a1.5%2C1.5%2C0%2C0%2C1-2.111%2C2.135Z%22%20transform%3D%22translate%28-24493.5%20-4429.66%29%22%20fill%3D%22%23fff%22%2F%3E %3C%2Fsvg%3E');
    background-size: cover;
    background-position: center center;
    z-index:3333;
    cursor: pointer;
    transition: all .25s ease;
    transform: rotate(0deg);


}
#close:hover {
    transform: rotate(20deg);
}
#close:active {
    transform: rotate(40deg);
}

#pop_up {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease,visibility 0s;
}

#pop_up.popped {
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: opacity .8s ease,visibility 0s;
}

#pop_up {
    max-width: 1080px;
    width:100%;
    background-color: white;
    position: absolute;
    left: calc(50% - 2rem);    
    top: 50%;
    /* transform: translate(-50%,-50%); */
    transform: translate(-50%,0);
    z-index: 2222;
    padding: 1rem;
    margin: 2rem;
    /*  */
    flex-direction: row-reverse;
    /* gap: 2rem; */
}


@media screen and (max-width: 48rem) {
    #pop_up {  
        left:50%;      
        padding: 2rem; 
        margin:0;
    }
}

@media screen and (max-width: 48em) {
    #pop_up {
        flex-direction: column;
        max-width: 90vw;
        width: 420px;
        padding: 1rem;
        gap: 1rem;
    }
}
#pop_up .form_wrap {
    width: 50%;
}

#pop_up .form_wrap:nth-of-type(2) {
    padding: 2rem 2rem 2rem 1rem ;
}

@media screen and (max-width: 48em) {
    #pop_up .form_wrap {
        width: 100%;
        padding: 0;
    }
}




#pop_up {
    width:100%;
    background-color: white;
    display: block;
    padding: 1rem;
    margin: 0 2rem;
}


@media screen and (max-width: 48rem) {
    #pop_up {  
        left:50%;      
        padding: 2rem; 
        margin:0;
    }
}

@media screen and (max-width: 48em) {
    #pop_up {
        flex-direction: column;
        max-width: 90vw;
        width: 420px;
        padding: 1rem;
        gap: 1rem;
    }
}
#pop_up .form_wrap {
    width: 100%;
}


@media screen and (max-width: 48em) {
    #pop_up .form_wrap {
        width: 100%;
        padding: 0;
    }
}

#pop_up .hs-form{
    max-width: 420px;
    /* width:100%; */
}
@media screen and (max-width: 48em) {
    #pop_up .hs-form {
        max-width: unset !important;
        width:100%;
    }
}

#pop_up .hs-form .hs-form-field:last-of-type {
    margin-bottom: 0;
}

.form_img_wrap {
    height: 100%;
}
@media screen and (max-width: 48em) {
    .form_img_wrap {
        height: 10vh;
    }
}


#pop_up [class*="_img"] {
    max-width: 510px;
    height: 100%;
    object-fit: cover;
    aspect-ratio: unset;
}

@media screen and (max-width: 48rem) {
    #pop_up [class*="_img"] {
        max-width: unset;
        max-height: 20vh;
        object-fit: cover;
    }
}


/*  =======================================
    CONTACT FORM
    =================================== */

    #pop_up ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(var(--main-black-rgb),0.8);
        font-family: var(--font-family-Aktiv);
    }
    #pop_up ::-moz-placeholder { /* Firefox 19+ */
        color: rgba(var(--main-black-rgb),0.8);
        font-family: var(--font-family-Aktiv);
    }
    #pop_up :-ms-input-placeholder { /* IE 10+ */
        color: rgba(var(--main-black-rgb),0.8);
        font-family: var(--font-family-Aktiv);
    }
    #pop_up :-moz-placeholder { /* Firefox 18- */
        color: rgba(var(--main-black-rgb),0.8);
        font-family: var(--font-family-Aktiv);
    }
    #pop_up textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(var(--main-black-rgb),0.3);
        font-family: var(--font-family-Aktiv);
    }
    #pop_up textarea::-moz-placeholder { /* Firefox 19+ */
        color: rgba(var(--main-black-rgb),0.3);
        font-family: var(--font-family-Aktiv);
    }
    #pop_up textarea:-ms-input-placeholder { /* IE 10+ */
        color: rgba(var(--main-black-rgb),0.3);
        font-family: var(--font-family-Aktiv);
    }
    #pop_up textarea:-moz-placeholder { /* Firefox 18- */
        color: rgba(var(--main-black-rgb),0.3);
        font-family: var(--font-family-Aktiv);
    }


    @media screen and (max-width: 48em) {
        #pop_up .hs-form.form {
            display: block;
        }
    }
    
    #pop_up h2 {
        margin-top: 0;
    }

    #pop_up h5 {
        font-size: 19px;
        font-size: min(max(14px, 1.13vw), 19px);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    #pop_up .hs-form.form {
        box-sizing: border-box;
        width: 100%;
        /* max-width: 320px; */
    }

    #pop_up .hs-form .hs-form-field {
        position: relative;
        margin-bottom: 1rem;
    }
    
    /* .hs-input */
 #pop_up .hs-form input[type="text"],
 #pop_up .hs-form input[type="email"],
 #pop_up .hs-form input[type="tel"], 
 #pop_up .hs-form input[name="message"] {
        width: 100%;
        padding: 0.5rem;
        /* padding: 0.5rem 1rem 0.5rem 0; */
        /* font-size: 1rem; */
        font-size: 13px;
        line-height: inherit;
        letter-spacing: .2;
        color: rgba(var(--main-black),1.0);
        font-family: var(--font-family-Aktiv);
        border: none;
        box-sizing: border-box;
        /* background:transparent; */
        border-bottom:1px solid rgba(var(--main-black-rgb),0.8);
        background: rgba(var(--main-black-rgb), 0);
        transition: all 0.2s ease-in-out;
        border-radius: unset;
    }
#pop_up .hs-form label {
    font-size: 13px;
    line-height: inherit;
    letter-spacing: .2;
    color: rgba(var(--main-black),1.0);
    font-family: var(--font-family-Aktiv);
}    


#pop_up .hs-form input[type="email"]:focus, 
#pop_up .hs-form input[type="number"]:focus, 
#pop_up .hs-form input[type="search"]:focus, 
#pop_up .hs-form input[type="text"]:focus, 
#pop_up .hs-form input[type="tel"]:focus, 
#pop_up .hs-form input[type="url"]:focus, 
#pop_up .hs-form input[type="password"]:focus,
#pop_up .hs-form input[name="message"]:focus 
#pop_up .hs-form textarea:focus, 
#pop_up .hs-form select:focus {
        border: none;
        outline: 0;
        background: rgba(var(--main-black-rgb),0.1);
        border-bottom:2px solid rgba(var(--main-black-rgb),0.5);
        outline: none;
        padding-left: 1rem;

    }

/* #pop_up .hs-form .hs-form-field:has(textarea),  */
#pop_up .hs-form .hs-form-field:nth-of-type(4) {
    margin-top: 2rem;
}     

#pop_up .hs-form textarea {
        width: 100%;
        padding: 0.5rem;
        font-size: 13px;
        line-height: inherit;
        letter-spacing: .2;
        color: rgba(var(--main-black-rgb),1.0);
        font-family: var(--font-family-Aktiv);
        box-sizing: border-box;
        border: 1px solid rgba(var(--main-black-rgb),0.8);
        background: rgba(var(--main-black-rgb),0.0);
        transition: all 0.2s ease-in-out;
        border-radius: unset;
    }

    #pop_up .hs-form .hs_message textarea {
        min-height: 75px;
    }    

#pop_up .hs-form textarea:focus {
        border: none;
        outline: 0;
        background: rgba(var(--main-black-rgb),0.1);
        /* background: var(--vlight_grey); */
        border-bottom:2px solid rgba(var(--main-black-rgb),0.5);
        outline: none;
        padding-left: 1rem;
    }

#pop_up .input li {
    list-style: none;
    display: inline-block;
}
#pop_up .input ul.inputs-list {
    padding-left: 0;
}


#pop_up .hs-form input:focus {
        background: rgba(var(--main-black-rgb),0.1);
        border-bottom:2px solid var(--main-black-rgb);
        outline: none;
    }

#pop_up .hs-form input[type="textarea"]
#pop_up .hs-form input[name="message"] {}


/*  =======================================
    checkbox buttons 
    ======================================= */


/* .button-group-pills label input, */
#pop_up label.hs-form-checkbox-display input {
    position: absolute;
    display: none;
    color: #fff !important;
}

#pop_up label.hs-form-checkbox-display {
    border-radius: 20px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-right: 5px;
    border: 1px solid rgba(var(--main-black-rgb),1);
    background-color: #fff;
    color: rgba(var(--main-black-rgb),1);
    font-size: 0.65rem;
    line-height: 1;
    padding: 0.4rem 0.875rem;
    height: 28px;
}

#pop_up label.hs-form-checkbox-display.is-checked {
    border-color: rgba(var(--main-black-rgb),1);
    background-color: rgba(var(--main-black-rgb),1);
    color: #fff;
    box-shadow: none;
    font-family: var(--font-family-link);
}

#pop_up label.hs-form-checkbox-display:hover {
    border-color: rgba(var(--main-black-rgb),1);
    background-color: rgba(var(--main-black-rgb),0.8);
    color: #fff;
}

#pop_up.checkbox_wrap { 
    height: 1px;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

.checkbox_wrap input[type="checkbox"] {
    position: absolute;
}

label.plain-checkbox { 
    color: rgba(var(--main-black-rgb),1);
    font-size: 0.65rem;
    text-align: left;
    padding:0;
}

.checkbox_wrap label div {
    position: absolute;
    left: 20px;
    clear: both;
}

#pop_up .hs-button {
    position: relative;
    z-index: 1;
    margin-left: 0;
    margin-right: 6px;
    margin-top: 6px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 8px 28px;
    border-radius: 20px;
    background: #fff;
    /* color: #111; */
    border: none;
    font-family: var(--font-link);
    font-weight: 500;
    font-size: 16px;
    /* line-height: 1.5; */
    line-height: 1.8;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    background: 0 0;
    cursor: pointer;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
/*  */
    background: var(--main-black);
    color: #fff;
}
#pop_up .hs-button:hover {
    background: var(--black-hover);
    color: #fff;
}

#pop_up .no-list.hs-error-msgs.inputs-list {
    padding: 0;
    list-style: none;
    margin: 0;
}

#pop_up .hs_interests [id*="label-interests"] span {
    font-size: 20px;
    font-size: min(max(16px, 1.04vw), 20px);
    font-family: var(--font-link);
}

#pop_up input[type="checkbox"][id*="terms_and_conditions"] {
    margin-right: 8px;
    transform: translateY(2px);
}

#pop_up .no-list.hs-error-msgs.inputs-list li {
    
}
#pop_up .hs-error-msg {
    background-color: var(--main-black);
    color: #fff !important;
    padding: 0.25rem;
}

/* if we cant get JS to work ? */
input[type="checkbox"]:checked + span {
    /* background-color: red; */
}
